body{
	margin: 0;
	font-family: sans-serif;
	  background: url(bg.jpg);
   background-repeat: no-repeat;
  background-size: cover;

}
header{
	width: 100%;
	background: black;
	height: 200px;
	top: 0;
}
header h1{
	height: 100px;
	position: absolute;
	top: 100px;
	left: 800px;
	font-family: impact;
	font-size: 40px;
	color: white;
}
nav{
	position: absolute;
	margin: 270px auto 0;
	width: 570px;
	background: #191919;
	transform: translate(-50%,-50%);
	padding: 40px;
	top: 30%;
	left: 50%;
	text-align: center;

}
nav h1{
	color: white;
}
nav p{
	color: white;
}

nav button{
	position: absolute;
	top: 550px;
	left: 270px;
}
nav p a{
color: white;
}
a:hover{
	color: red;
}